<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">VANNY</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Herramientas</a>
                    <div class="dropdown-menu">
                        <a routerLink="builder" class="dropdown-item">Builder</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Usuario</a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a routerLink="perfil" class="dropdown-item">Perfil</a>
                        <a routerLink="facturacion" class="dropdown-item">Facturación</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="sidebar" style="display:none; ">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a (click)="testAsk()">ASK</a>
  </div>

<router-outlet></router-outlet>


