/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
}

.btn-toolbar h1 {
    font-size: large;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50px;
    text-align: left;
}

.btn-toolbar button {
    margin-right: 10px;
}

.btn-toolbar {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
